<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Вътрешна грешка</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
  <link th:href="@{/css/styles.css}" rel="stylesheet"/>

<body class="d-flex flex-column min-vh-100">
<div class="container flex-grow-1 mt-4">
<h1>Упс... 500</h1>
<p>Възникна неочаквана грешка. Моля, опитайте отново.</p>
</div>
<footer class="bg-dark text-white text-center mt-auto p-3">
  SmartBudget &copy; 2025. Всички права запазени.
</footer>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
