<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>2FA Setup</title>
    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    
</head>
<body>
<h1>Настройка на 2FA</h1>
<p>Сканирайте QR кода с приложението Google Authenticator:</p>
<img th:src="@{/2fa/qr}" alt="2FA QR"/>

<form th:action="@{/2fa/verify-setup}" method="post">
    <label>Въведете кода от приложението:</label>
    <input type="text" name="code" />
    <button type="submit">Активирай</button>
</form>
</body>
</html>
