<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Panel</title>

        <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<h1>Администраторски панел</h1>
<table>
    <tr>
        <th>User ID</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>
    <tr th:each="u : ${users}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.email}"></td>
        <td>
            <span th:each="r : ${u.roles}" th:text="${r.name}"></span>
        </td>
        <td>
            <form th:action="@{/admin/change-role(userId=${u.id},roleName='ROLE_ADMIN')}" method="post">
                <button type="submit">Make Admin</button>
            </form>
            <form th:action="@{/admin/change-role(userId=${u.id},roleName='ROLE_USER')}" method="post">
                <button type="submit">Make User</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>
