<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Вход</title>
        <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<h1>Вход в SmartBudget</h1>

<form th:action="@{/login}" method="post">
    <div>
        <label>Email:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <button type="submit">Вход</button>
</form>

<!-- Линкове за социален вход (Google, Facebook) -->
<a th:href="@{/oauth2/authorization/google}">Влез с Google</a>
<a th:href="@{/oauth2/authorization/facebook}">Влез с Facebook</a>

</body>
</html>
